body {
  font-family: Arial;
  padding-bottom: 3000px;
}

.div1 {
  display: flex;
  background-color: rgb(20, 187, 187);
  position: fixed;
}

.shirtimage {
  width: 400px;
  height: 450px;
  object-fit: cover;
  object-position: right;
}

.div2 {
  background-color: black;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 1;
}

.div3 {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px;
  height: 130px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  left: 0px;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  transition: background-color 1s, height 1s,border-top-right-radius 1s,border-top-left-radius 1s;
}

.div3:hover {
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px;
  height: 450px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.addtocart-button {
  font-size: larger;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.5s, color 0.5s;
}

.addtocart-button:hover {
  background-color: black;
  color: white;
  border: none;
}