p {
  font-family: Arial;
  width: 300px;
  text-align: right;
  margin-bottom: 4px;
  margin-top: 0px;
}
.new-text {
  color: rgb(231, 152, 4);
  font-size: 10px;
}

.macbook-text {
  font-size: 16px;
  font-weight: bold;
}

.supercharged-text {
  font-size: 26px;
  font-weight: bold;
}

.price-text {
  font-size: 12px;
}

.buy-button {
  background-color: rgb(91, 91, 222);
  color: white;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  margin-top: 4px;
  margin-left: 130px;    
  transition: background-color 0.5s, opacity 0.5s;
}

.buy-button:hover {
  background-color: rgb(41, 41, 220);
}

.buy-button:active {
  opacity: 0.5;
}

.thousand-text {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.usd-text {
  color: grey;
  font-size: 10px;
  margin-left: 3px;
}

.profit-text {
  text-align: left;
  color: rgb(7, 207, 7);
  font-size: 10px;
}

.afterhours-text {
  text-align: left;
  font-size: 10px;
  color: grey;
}

.loss-text {
  color: red;
}

.freecodecamp-text {
  font-weight: bold;
  font-size: 10px;
  text-align: left;
}

.freecodecamp-tag {
  color: grey;
}

.webdeveloper-text {
  text-align: left;
  font-size: 10px;
  margin-bottom: 7px;
}

.topskills-text {
  text-align: left;
  font-size: 10px;
}

.chp-text {
  color: rgb(100, 100, 255);
  transition: text-decoration 0.5s;
}

.chp-text:hover {
  text-decoration: underline;
  cursor: pointer;
}