body {
  padding-bottom: 1000px;
}

p {
  margin: 0px;
  font-family: arial;
  color: black;
}

.div1 {
  background-color: green;
  color: white;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100px;
}

.div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.div2-1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  height: 150px;
  justify-content: space-between;
}

.modaltitle-text {
  font-size: 40px;
  font-weight: bold;
}

.modal-text {
  font-size: 30px;
}

.close-button {
  font-size: x-large;
  background-color: rgb(34, 161, 252);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}