.div3,
.div2,
.div1 {
  display: inline-block;
  height: 240px;
  width: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.264);
  margin-right: 15px;
}

.cat1-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

p {
  font-family: Arial;
}

.Joe-text {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 8px;
}

.mutual-text {
  color: grey;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 8px;
  font-size: 12px;
}

.addfriend-button {
  background-color: rgb(100, 100, 248);
  color: white;
  margin-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.5s, opacity 0.5s;
}

.addfriend-button:hover {
  background-color: rgb(49, 49, 250);
}

.addfriend-button:active {
  opacity: 0.5;
}

.div4 {
  height: 200px;
  width: 400px;
  box-shadow:0px 0px 6px;
  padding-top: 40px;
  padding-left: 80px;
}

.google-image {
  width: 150px;
  margin-left: 70px;
  display: block;
  margin-bottom: 6px;
}

.searchgoogle {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  width: 300px;
  border: none;
  border-radius: 30px;
  box-shadow:1px 1px 6px rgba(1, 1, 0, 0.15);
}

.search-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(223, 223, 223);
  border: none;
  color: black;
  font-size: 10px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 50px;
  transition: background-color 0.5s;
}

.search-button:hover {
  background-color: rgb(195, 195, 195);
}

.search-button:active {
  background-color: rgb(162, 162, 162);
}

.lucky-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(223, 223, 223);
  border: none;
  color: black;
  font-size: 10px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 5px;
  transition: 0.5s;
}

.lucky-button:hover {
  background-color: rgb(195, 195, 195);
}

.lucky-button:active {
  background-color: rgb(162, 162, 162);
}