.red-div {
  background-color: red;
  height: 100px;
  width: 100px;
}

.green-div {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.div1 {
  display: inline-block;
  height: 80px;
  width: 300px;
  border-color: rgb(167, 167, 167);
  border-style: solid;
  padding-left: 10px;
  border-width: 1px;
}

.satisfied-text {
  font-family: arial;
}

.div2 {
  display: inline-block;
  height: 90px;
  width: 300px;
  background-color: black;
  padding-left: 10px;
}

.install-text {
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.add-text {
  color: rgb(208, 208, 208);
  font-family: arial;
  font-size: 13px;
  margin-top: 0px;
}

.catimage {
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.what-input {
  font-family: arial;
  vertical-align: middle;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tweet-button {
  font-family: Arial;
  font-weight: bold;
  vertical-align: middle;
  background-color: rgb(106, 106, 249);
  color: white;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.div3 {
  display: inline-block;
  border-style: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(179, 179, 179);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.15);
}